.rightcard{
    padding-bottom: 8px;
}

.usernumber{
    font-weight: 500;
}

.product{
    font-size: small;
}

.iconstyle{
    padding: 10px;
    color: white;
}

.gradiant{
    background-color: #17153B;
}

.cardtext{
    color: white;
}

