div{
    color:black;
    /* font-weight: bold; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

#sidebar{
    text-align: center;
    padding: 220px;
    position: absolute;
}

#logo{
    height:45px;
    width: 150px;
    padding: 10px;
    margin-right: 10px;
}


#avatar{
    margin-left: 85%;
}